
<h1><br/> </h1>
<h2>John Ehrlinger</h2> <p><img src="https://avatars0.githubusercontent.com/u/1110676" alt="John Ehrlinger" title="Follow me on Twitter @JohnEhrlinger"  class="img-rounded floatLeft" width="42"/> <a href="aboutme.html">aboutme.html</a>
<br/>		
Staff Scientist<br/>
Quantitative Health Sciences<br/>
Cleveland Clinic<br/>
Cleveland Ohio</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ehrlinger&repo=ehrlinger.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ehrlinger&repo=ehrlinger.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/JohnEhrlinger" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @JohnEhrlinger</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/ehrlinger" rel="me" class="social github" title="Go to github.com/ehrlinger" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/JohnEhrlinger" rel="me" class="social twitter" title="Go to twitter.com/JohnEhrlinger" target="_blank"></a></li>
	  <li><a href="https://github.com/ehrlinger/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Ehrlinger"  target="_blank"></a></li>				
	</ul>
</p>