<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://ehrlinger.github.io">John Ehrlinger</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://ehrlinger.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/JohnEhrlinger" rel="tooltip" title="Go to twitter.com/JohnEhrlinger" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/ehrlinger" rel="tooltip" title="Go to github.com/ehrlinger" target="_blank">GitHub</a></li>
					<li class=""><a
  href="https://www.linkedin.com/profile/view?id=11355453"
  rel="tooltip" title="Go to LinkedIn profile"
  target="_blank">LinkedIn</a></li>
  <li class=""><a
  href="http://my.clevelandclinic.org/staff_directory/staff_display.aspx?doctorid=17525"
  rel="tooltip" title="Cleveland Clinic" target="_blank">Cleveland
  Clinic Profile</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a
  href="https://github.com/ehrlinger/ggRandomForests" rel="tooltip"
  title="Go to ggRandomForests on GitHub"
  target="_blank">ggRandomForests</a></li>
  <li class=""><a href="https://github.com/ehrlinger/l2boost" rel="tooltip" title="Go to l2boost on GitHub" target="_blank">l2boost</a></li>					
					</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>